body {
    font-family: monospace;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;

    background-color: white;
    width: 100%;    
    font-size: 14px;
}

nav > .outerdiv > a {
    float: right;
    text-align: center;
    padding: 20px;
    margin-left: 10px;
    width: 100px;
    color: black;
    
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

nav > .outerdiv {
    padding: 10px;
}

nav > h1 {
    text-decoration: underline;
    display: inline;
    float: left;
    margin: 0px;
    margin: 20px;
    font-size: 30px;
}