body {
    font-family: Helvetica, Arial, sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: white;
}

nav > a {
    text-decoration: none;
    margin: 20px;
    color: black;
    float: right;
    display: block;
    overflow: hidden;
}